# === Backend (Railway) ===
DATABASE_URL=postgresql://user:pass@ep-xxx.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
GAS_URL=https://script.google.com/macros/s/AKfycbwoSjjJd-6VA9k9eLIOrr5OD8bzBRIAm6ZT8KZAmA1YqpgRTXmQlpWSsbSIUI7BG8wZ/exec
OIL_PRICE_API=https://api.chnwt.dev/thai-oil-api/latest
PORT=8080
CRON_INTERVAL=3m
CRON_START_HOUR=7
CRON_END_HOUR=22
TZ=Asia/Bangkok
CORS_ORIGINS=https://lpnfuel.pages.dev

# === Frontend (Cloudflare Pages) ===
VITE_API_URL=https://lpnfuel-api.up.railway.app/api/v1
